include src/eurocodepy/data/eurocodes.json
include src/eurocodepy/data/prof_euro.json
include src/eurocodepy/data/i_profiles_euro.json
include src/eurocodepy/data/eurocode_data_portugal.csv
include src/eurocodepy/data/eurocode_data_portugal.xlsx